.advantages{
    &__container{
        display: flex;
        justify-content: space-between;
    }
    &__block{
        text-align: center;
        margin-top: 2rem;
        & h3{
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        & P{
            margin: 0 auto;
            font-size: 1.6rem;
            max-width: 27rem;
        }
    }
    &__img{
        height: 11rem;
	    margin-bottom: 2rem;
        img{
            display: block;
            margin: 0 auto;
        }
    }
}

@media (max-width: 991px) {
    .advantages{
        &__container{
            flex-direction: column;
        }
    }
}