
.accordion {
    background-color: $primary-blue;
    color: $primary-white;
    cursor: pointer;
    padding: 18px;
    width: 70%;
    margin: auto;
    border-radius: 1.5rem;
    border: none;
    text-align: left;
    outline: none;
    font-size: 2.1rem;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: $primary-orange;
}

.accordion:after {
    content: '\002B';
    font-weight: bold;
    color: $primary-white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
    color: $primary-white;
}

.panel {
    padding: 0 18px;
    width: 70%;
    margin: auto;
    margin-bottom: 2rem;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}