.our-work {
    display: flex;
    align-items: center;    
    flex-direction: column;
	&__grid {
        display: flex;
		flex-wrap: wrap;
		max-width: 1600px;
		justify-content: center;
     }
    &__block{
        position: relative;
		flex-basis: 1000px;
		margin: 1rem;
		max-width: 300px;
		max-height: auto;
        cursor: pointer;
        &:hover{
            z-index: 2;
        }
        &:hover img{
            transform: scale(1.15);
            box-shadow: 0px 0px 25px 15px rgba(15, 24, 31, 0.3);
        }
    }
	&__img_container { 
        img{
            max-width: 300px;
			max-height: auto;
            transition: all 0.3s 0s ease;
        }
    }
}

@media (max-width: 1366px){
    .our-work{
        &__grid{
			margin: 1px auto;
			max-width: 900px;
		}
    }
}