.price{
    &__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item{
        text-align: center;
        h3{
            text-align: center;
            font-size: 1.6rem;
            width: 230px;
        }
        img{
            max-width: 250px;
            height: auto;
            border-radius: 1rem;
            box-shadow: 0px 0px 17px 14px rgba(56, 56, 56, 0.2);
        }
        p{
            max-width: 230px;
            span{
                text-decoration: line-through;
            }
        }
    }
}

@media (max-width: 1366px){
    .price{
        &__container{
			margin: 1px auto;
			max-width: 900px;
            justify-content:space-around
		}
        &__item{
            margin-bottom: 2rem;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}